<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/styles.css">
        <title>
            help
        </title>
    </head>
    <body><div class="main-content">
         {{>header}}
        <h1>Help</h1>
    </div>
       
       
        {{>footer}}

    </body>
</html>